name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        optuna: ["4.0.*", "4.6.*"]

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - run: python -m pip install -U pip
      - run: python -m pip install "optuna==${{ matrix.optuna }}"
      - run: python -m pip install -e ".[dev]"
      - run: pytest -q
